# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


.DS_Store
build/
plot_last_bench.txt
plot_last_run.txt
settings.conf
docs/source/_build/
